@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #EF88AD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2, h3 {
    font-family: "Martel Sans", sans-serif;
    text-align: center; 
    margin: 0 2px;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
}

button {
    background-color: white;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 18px;
    margin: 5px;
}


@media only screen and (max-width: 600px) {
    h2 {font-size: 24px;}
    h3 {font-size: 18px;}
}
